*:not(h3,h5,p,ul) {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

img {
  display: block;
  width: 220px;
  float: right;
}

ul {
  //margin-left: 1em;
}

h3 {
  margin-top: 4rem;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
}
h3:first-child {
  margin-top: 2rem;

}
h5 {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  margin-left: 1rem;
}
table {
  margin-top: 0;
  margin-left: 0.9rem;
}
td:first-child {
  width: 9rem;
}

a {
  color: #c0392b;
}
a:hover {
  text-decoration: none;
}

hr {
  margin-top: 3rem;
}
footer {
  text-align: center;
}
a i{
  text-decoration: none;
  color: #c0392b;
}

.date {
  display: inline-block;
  width: 9rem;
}
.container {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  img {
    width: 7.5rem;
  }
  .titel {
    display: block;
    margin-top: 0.2rem;
  }
  td:first-child {
    width: 7rem;
  }
}
